In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.precision", 2)
pd.set_option('display.max_columns', None)

_______
# Load data set

In [2]:
df = pd.read_csv('../data/data.csv')

In [ ]:
df.head(2)

_____________
# Define fucntions to generate special tables

In [5]:
def table_summarize_descriptive(data,var_short,var_long):

        Names = zip(var_short,var_long)

        mean_list = []
        std_list = []
        min_list = []
        max_list = []
        n_list=[]
        variables = []
       

        for i,j in Names: #var_short,var_long,scale
                
                a_mean = data[i].mean()
                a_std  = data[i].std()
                a_min = data[i].min() 
                a_max = data[i].max()
                a_n = data[i].count()

                variables.append(j)
                
                mean_list.append("{:.2f}".format(a_mean))
                std_list.append("{:.2f}".format(a_std))
                min_list.append("{:.2f}".format(a_min))
                max_list.append("{:.2f}".format(a_max))
                n_list.append("{:.0f}".format(a_n))

        df = pd.DataFrame(dict(Variables = variables, Mean=mean_list, SD=std_list, Min=min_list, Max=max_list,N=n_list))

        # return df.to_latex(buf=file,index = False,column_format='lcccc')
        return df

In [6]:
names = ["F-K grade", "\hspace{3mm}American Economic Review","\hspace{3mm}Econometrica",
        "\hspace{3mm}Journal of Political Economy", "\hspace{3mm}Review Economic Studies",
        "\hspace{3mm}The Quarterly Journal of Economics", "\hspace{3mm}Number of sentences",
        "\hspace{3mm}Number words", "\hspace{3mm}Number of syllables", "\hspace{3mm}Proportion of women" ,
        "\hspace{3mm}Only females", "\hspace{3mm}Only males", "\hspace{3mm}Both gender",
        "\hspace{3mm}Number of authors","\hspace{3mm}Number of pages", 
        "\hspace{3mm}American Economic Review","\hspace{3mm}Econometrica",
        "\hspace{3mm}Journal of Political Economy", "\hspace{3mm}Review Economic Studies",
        "\hspace{3mm}The Quarterly Journal of Economics","\hspace{3mm}Papers not connected",
        "\hspace{3mm}Papers with observed JEL codes "
        ]

vars = ["flesch_kincaid_grade_level", 'aer_fkgrade','ecm_fkgrade','jpe_fkgrade','res_fkgrade',
        'qje_fkgrade','num_sentences','num_words','num_syllables','prop_women','only_females',
        'only_males','both_genders','num_authors','num_pages','AER','ECM','JPE','RES','QJE',
        'isolated','JEL_flag'
        ]

# Table 1. Summarize Statistics (page 2)

In [8]:
file = '../tables/table1.tex'
table1 = table_summarize_descriptive(df,vars,names)

table1 = pd.DataFrame(np.insert(table1.values, 6, values=' ', axis=0))
table1 = pd.DataFrame(np.insert(table1.values, 10, values=' ', axis=0))
table1 = pd.DataFrame(np.insert(table1.values, 17, values=' ', axis=0))
table1 = pd.DataFrame(np.insert(table1.values, 23, values=' ', axis=0))

table1.loc[6][0]='\\textbf{Abstract-related variables}'
table1.loc[10][0]='\\textbf{Paper-related variables}'
table1.loc[17][0]='\\textbf{Journals}'
table1.loc[23][0]='\\textbf{Other variables}'

table1.columns=['Variables','Mean','SD','Min','Max','N']

table1.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table1

,Variables,Mean,SD,Min,Max,N
0,F-K grade,15.52,2.69,6.84,55.30,4988
1,\hspace{3mm}American Economic Review,15.34,2.61,7.50,29.87,1500
2,\hspace{3mm}Econometrica,15.96,2.59,9.09,30.86,892
3,\hspace{3mm}Journal of Political Economy,15.31,2.81,7.30,43.70,801
4,\hspace{3mm}Review Economic Studies,15.65,2.48,9.30,30.88,976
5,\hspace{3mm}The Quarterly Journal of Economics,15.41,2.98,6.84,55.30,819
6,\textbf{Abstract-related variables},,,,,
7,\hspace{3mm}Number of sentences,5.50,1.88,1.00,24.00,4988
8,\hspace{3mm}Number words,122.55,40.15,23.00,470.00,4988
9,\hspace{3mm}Number of syllables,228.42,73.01,52.00,835.00,4988
10,\textbf{Paper-related variables},,,,,
11,\hspace{3mm}Proportion of women,0.14,0.27,0.00,1.00,4988
12,\hspace{3mm}Only females,0.05,0.22,0.00,1.00,4988
13,\hspace{3mm}Only males,0.74,0.44,0.00,1.00,4988
14,\hspace{3mm}Both gender,0.21,0.41,0.00,1.00,4988
15,\hspace{3mm}Number of authors,2.19,0.94,1.00,8.00,4988
16,\hspace{3mm}Number of pages,34.04,11.80,3.00,103.00,4988
17,\textbf{Journals},,,,,
18,\hspace{3mm}American Economic Review,0.30,0.46,0.00,1.00,4988
19,\hspace{3mm}Econometrica,0.18,0.38,0.00,1.00,4988
20,\hspace{3mm}Journal of Political Economy,0.16,0.37,0.00,1.00,4988
21,\hspace{3mm}Review Economic Studies,0.20,0.40,0.00,1.00,4988
22,\hspace{3mm}The Quarterly Journal of Economics,0.16,0.37,0.00,1.00,4988
23,\textbf{Other variables},,,,,
24,\hspace{3mm}Papers not connected,0.11,0.31,0.00,1.00,4988
25,\hspace{3mm}Papers with observed JEL codes,0.63,0.48,0.00,1.00,4988

## Table. Summarize Statistics cont'd

In [6]:
names = ["Dale-Chall", "\hspace{3mm}American Economic Review","\hspace{3mm}Econometrica",
        "\hspace{3mm}Journal of Political Economy", "\hspace{3mm}Review Economic Studies",
        "\hspace{3mm}The Quarterly Journal of Economics"
        ]

vars = ["dale_chall", 'aer_dale','ecm_dale','jpe_dale','res_dale',
        'qje_dale'
        ]

In [7]:
file = '../tables/table_sum2.tex'

table3 = table_summarize_descriptive(df,vars,names)

# table3 = pd.DataFrame(np.insert(table3.values, 6, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 10, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 17, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 23, values=' ', axis=0))

# table3.loc[6][0]='\\textbf{Abstract-related variables}'
# table3.loc[10][0]='\\textbf{Paper-related variables}'
# table3.loc[17][0]='\\textbf{Journals}'
# table3.loc[23][0]='\\textbf{Other variables}'

table3.columns=['Variables','Mean','SD','Min','Max','N']

table3.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table3

,Variables,Mean,SD,Min,Max,N
0,Dale-Chall,11.34,0.98,7.37,17.50,4988
1,\hspace{3mm}American Economic Review,11.41,1.01,7.37,14.30,1500
2,\hspace{3mm}Econometrica,11.50,0.95,8.23,15.12,892
3,\hspace{3mm}Journal of Political Economy,11.23,0.97,8.17,14.22,801
4,\hspace{3mm}Review Economic Studies,11.31,0.93,8.20,15.95,976
5,\hspace{3mm}The Quarterly Journal of Economics,11.21,1.01,7.64,17.50,819

## Table. Summarize Statistics JEL codes

In [8]:
def table_summarize_descriptive2(names,data1,vars1,data2,vars2):

        Names = zip(vars1,vars2)

        mean1_list = []
        std1_list = []
        n1_females = []
        n1_males = []
        n1_both = []
        n1_obser = []

        mean2_list = []
        std2_list = []
        n2_females = []
        n2_males = []
        n2_both = []
        n2_obser = []

        variables = []

        std2_list = []


        for var in vars1:

                # print(var)

                mask = data1[var]==1
                data_0 = data1[mask]
               
                n1_females.append("{:.2f}".format(100*data_0['only_females'].mean()))
                n1_males.append("{:.2f}".format(100*data_0['only_males'].mean()))
                n1_both.append("{:.2f}".format(100*data_0['both_genders'].mean()))
                # n1_obser.append("{:.2f}".format(len(data_0)))
                # print(len(data_0))

        for var in vars2:

                mask = data2[var]==1
                data_0=data2[mask]

                n2_females.append("{:.2f}".format(100*data_0['only_females'].mean()))
                n2_males.append("{:.2f}".format(100*data_0['only_males'].mean()))
                n2_both.append("{:.2f}".format(100*data_0['both_genders'].mean()))
                # n2_obser.append("{:.2f}".format(len(data_0)))

        for name in names:

                variables.append(name)

                # print(name)

        for i,j in Names: #var_short,var_long,scale

                # print(i,'',j)
                
                a_mean = data1[i].mean()
                # print(len(data1[i]))
                a_std  = data1[i].std()   
                     

                b_mean = data2[j].mean()
                b_std  = data2[j].std()                
                
                mean1_list.append("{:.3f}".format(a_mean))
                std1_list.append("{:.2f}".format(a_std))
                # n1_obser.append("{:.0f}".format(len(data1))) 
                n1_obser.append("{:.0f}".format(data1[i].sum() )) 

                mean2_list.append("{:.3f}".format(b_mean))
                std2_list.append("{:.2f}".format(b_std))
                # n2_obser.append("{:.0f}".format(len(data2)))   
                n2_obser.append("{:.0f}".format(data2[j].sum() )) 


        df = pd.DataFrame(dict(Variables = variables,  Mean1 = mean1_list, SD1= std1_list,Obs1 =  n1_obser,
                sh1_fem = n1_females, sh1_male = n1_males, sh1_both = n1_both,  Mean2 = mean2_list, SD2= std2_list,
                Obs2 =  n2_obser, sh2_fem = n2_females, sh2_male = n2_males, sh2_both = n2_both))

        # # return df.to_latex(buf=file,index = False,column_format='lccccccc')Mean1=mean1_list, SD1=std1_list,
        return df

In [9]:
mask=df['JEL_flag']==1

df1=df[mask]

In [10]:
names2 = ["\hspace{3mm}A","\hspace{3mm}B","\hspace{3mm}C","\hspace{3mm}D","\hspace{3mm}E",
        "\hspace{3mm}F","\hspace{3mm}G","\hspace{3mm}H","\hspace{3mm}I","\hspace{3mm}J",
        "\hspace{3mm}K","\hspace{3mm}L","\hspace{3mm}M","\hspace{3mm}N","\hspace{3mm}O",
        "\hspace{3mm}P","\hspace{3mm}Q","\hspace{3mm}R","\hspace{3mm}Y","\hspace{3mm}Z"
        ]

vars1 = ["A_obs","B_obs","C_obs","D_obs","E_obs","F_obs","G_obs","H_obs","I_obs","J_obs",
        "K_obs","L_obs","M_obs","N_obs","O_obs","P_obs","Q_obs","R_obs","Y_obs","Z_obs"]

vars2 = ["A_imp","B_imp","C_imp","D_imp","E_imp","F_imp","G_imp","H_imp","I_imp",
        "J_imp","K_imp","L_imp","M_imp","N_imp","O_imp","P_imp","Q_imp","R_imp","Y_imp","Z_imp"]

In [11]:
file = '../tables/table_jel.tex'

table_jel = table_summarize_descriptive2(names2,df1,vars1,df,vars2)

table_jel.columns=['Variables','Mean','SD','n','Females','Males','Both genders', 
'Mean','SD','n','Females','Males','Both genders']

table_jel.insert(7,' \\multicolumn{1}{l}{}',' ')

table_jel.to_latex(buf=file, index=False, column_format='lccccccccccccc',escape=False)

table_jel
# &   \multicolumn{6}{c}{Observed JEL codes} &  &\multicolumn{6}{c}{With JEL codes imputed}\\
# \cmidrule(lr){2-7} \cmidrule(lr){9-14}

,Variables,Mean,SD,n,Females,Males,Both genders,\multicolumn{1}{l}{},Mean,SD,n,Females,Males,Both genders
0,\hspace{3mm}A,0.008,0.09,26,0.00,88.46,11.54,,0.005,0.07,26,0.00,88.46,11.54
1,\hspace{3mm}B,0.004,0.07,14,0.00,100.00,0.00,,0.003,0.05,14,0.00,100.00,0.00
2,\hspace{3mm}C,0.212,0.41,662,2.57,76.89,20.54,,0.260,0.44,1298,3.24,78.97,17.80
3,\hspace{3mm}D,0.487,0.50,1521,4.14,73.70,22.16,,0.506,0.50,2522,3.93,76.01,20.06
4,\hspace{3mm}E,0.221,0.41,690,3.33,76.09,20.58,,0.208,0.41,1038,3.37,77.46,19.17
5,\hspace{3mm}F,0.122,0.33,380,5.26,69.21,25.53,,0.107,0.31,535,4.67,71.96,23.36
6,\hspace{3mm}G,0.169,0.37,527,3.98,74.38,21.63,,0.162,0.37,810,3.70,74.69,21.60
7,\hspace{3mm}H,0.133,0.34,416,6.49,66.11,27.40,,0.135,0.34,671,5.96,68.11,25.93
8,\hspace{3mm}I,0.120,0.32,375,9.60,55.47,34.93,,0.123,0.33,616,9.90,60.23,29.87
9,\hspace{3mm}J,0.214,0.41,668,6.14,66.02,27.84,,0.221,0.41,1102,7.89,67.60,24.50
10,\hspace{3mm}K,0.040,0.20,126,9.52,67.46,23.02,,0.044,0.20,217,10.60,68.66,20.74
11,\hspace{3mm}L,0.185,0.39,577,6.07,70.02,23.92,,0.186,0.39,929,5.71,71.47,22.82
12,\hspace{3mm}M,0.038,0.19,118,7.63,61.02,31.36,,0.062,0.24,309,7.12,66.34,26.54
13,\hspace{3mm}N,0.045,0.21,142,9.86,69.72,20.42,,0.054,0.23,269,10.78,70.63,18.59
14,\hspace{3mm}O,0.157,0.36,491,9.78,62.32,27.90,,0.164,0.37,816,9.44,66.42,24.14
15,\hspace{3mm}P,0.024,0.15,74,6.76,62.16,31.08,,0.029,0.17,147,6.12,70.75,23.13
16,\hspace{3mm}Q,0.037,0.19,115,3.48,68.70,27.83,,0.038,0.19,192,5.73,70.83,23.44
17,\hspace{3mm}R,0.057,0.23,177,6.78,75.14,18.08,,0.055,0.23,274,8.39,75.91,15.69
18,\hspace{3mm}Y,0.000,0.02,1,0.00,100.00,0.00,,0.000,0.01,1,0.00,100.00,0.00
19,\hspace{3mm}Z,0.029,0.17,92,4.35,57.61,38.04,,0.041,0.20,205,8.29,63.90,27.80

In [12]:
df1['A_obs'].sum()

26

In [13]:
df_obs = df1
df_imp=df

## Table JEL CODE FKG

In [14]:
def table_summarize_descriptive3(data_obs,data_imp,names2,list_obs,list_imp):
        
        Names = zip(list_obs,list_imp)

        mean1_list = []
        std1_list = []
 
        mean2_list = []
        std2_list = []


        variables = []


        for name in names2:

                variables.append(name)

                # print(name)

        for i,j in Names: #var_short,var_long,scale

                # print(i,'',j)

                # (df['minSalaryAnnual'].loc[df['minSalaryAnnual'] != 0]).median()
                
                a_mean = (data_obs[i].loc[data_obs[i] !=0]).mean()
                # print(len(data1[i]))
                a_std  = (data_obs[i].loc[data_obs[i] !=0]).std()  
                     

                b_mean = (data_imp[j].loc[data_imp[j] !=0]).mean()
                b_std  = (data_imp[j].loc[data_imp[j] !=0]).std()             
                
                mean1_list.append("{:.2f}".format(a_mean))
                std1_list.append("{:.2f}".format(a_std))
              
                mean2_list.append("{:.2f}".format(b_mean))
                std2_list.append("{:.2f}".format(b_std))
 


        df = pd.DataFrame(dict(Variables = variables,  Mean1 = mean1_list, SD1= std1_list, Mean2 = mean2_list, SD2= std2_list))

        # # return df.to_latex(buf=file,index = False,column_format='lccccccc')Mean1=mean1_list, SD1=std1_list,
        return df

In [15]:
names2 = ["\hspace{3mm}A","\hspace{3mm}B","\hspace{3mm}C","\hspace{3mm}D","\hspace{3mm}E",
        "\hspace{3mm}F","\hspace{3mm}G","\hspace{3mm}H","\hspace{3mm}I","\hspace{3mm}J",
        "\hspace{3mm}K","\hspace{3mm}L","\hspace{3mm}M","\hspace{3mm}N","\hspace{3mm}O",
        "\hspace{3mm}P","\hspace{3mm}Q","\hspace{3mm}R","\hspace{3mm}Z"
        ]

vars1 = ["A_obs","B_obs","C_obs","D_obs","E_obs","F_obs","G_obs","H_obs","I_obs","J_obs",
        "K_obs","L_obs","M_obs","N_obs","O_obs","P_obs","Q_obs","R_obs" ,"Z_obs"]

vars2 = ["A_imp","B_imp","C_imp","D_imp","E_imp","F_imp","G_imp","H_imp","I_imp",
        "J_imp","K_imp","L_imp","M_imp","N_imp","O_imp","P_imp","Q_imp","R_imp","Z_imp"]

In [16]:
list_names_obs = []
list_names_imp = []

names = zip(vars1,vars2)

for i,j in names:

    nn = i+'FKG'
    mm = j+'FKG'

    list_names_obs.append(nn)
    list_names_imp.append(mm)

    df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
    df[mm]=df[j]*df['flesch_kincaid_grade_level']

C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\1401897451.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['flesch_kincaid_grade_level']

In [17]:
file = '../tables/table_jel_fkg.tex'

table_jel_fkg = table_summarize_descriptive3(df1,df,names2,list_names_obs,list_names_imp)

table_jel_fkg.columns=['Variables','Mean','SD','Mean','SD']

table_jel_fkg.insert(3,' \\multicolumn{1}{l}{}',' ')

table_jel_fkg.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table_jel_fkg
# &   \multicolumn{2}{c}{Observed JEL codes} &  &\multicolumn{2}{c}{With JEL codes imputed}\\
# \cmidrule(lr){2-3} \cmidrule(lr){5-6}

        Variables   Mean    SD  \multicolumn{1}{l}{}   Mean    SD
0   \hspace{3mm}A  14.91  2.22                        14.91  2.22
1   \hspace{3mm}B  15.13  2.18                        15.13  2.18
2   \hspace{3mm}C  15.76  2.48                        15.82  2.56
3   \hspace{3mm}D  15.41  2.50                        15.49  2.58
4   \hspace{3mm}E  15.49  3.07                        15.47  2.92
5   \hspace{3mm}F  15.43  2.39                        15.43  2.47
6   \hspace{3mm}G  15.33  3.08                        15.43  3.05
7   \hspace{3mm}H  15.41  2.45                        15.48  2.49
8   \hspace{3mm}I  15.41  2.56                        15.52  2.73
9   \hspace{3mm}J  15.17  2.41                        15.34  2.57
10  \hspace{3mm}K  15.26  2.45                        15.23  2.64
11  \hspace{3mm}L  15.29  2.27                        15.22  2.33
12  \hspace{3mm}M  15.41  2.32                        15.06  2.26
13  \hspace{3mm}N  15.45  3.12                        15.54  3.03
14  \hspace{3mm}O  15.51  2.65                        15.52  2.74
15  \hspace{3mm}P  15.87  2.56                        15.98  2.52
16  \hspace{3mm}Q  15.79  2.30                        15.75  2.50
17  \hspace{3mm}R  15.37  2.55                        15.40  2.64
18  \hspace{3mm}Z  15.61  3.09                        15.97  3.06

## Table JEL CODE DCH

In [18]:
list_names_obs = []
list_names_imp = []

names = zip(vars1,vars2)

for i,j in names:

    nn = i+'DCH'
    mm = j+'DCH'

    list_names_obs.append(nn)
    list_names_imp.append(mm)

    df1[nn]=df1[i]*df1['dale_chall']
    df[mm]=df[j]*df['dale_chall']

C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']
C:\Users\lfsan\AppData\Local\Temp\ipykernel_25420\2349780514.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[nn]=df1[i]*df1['dale_chall']

In [19]:
file = '../tables/table_jel_dch.tex'

table_jel_dch = table_summarize_descriptive3(df1,df,names2,list_names_obs,list_names_imp)

table_jel_dch.columns=['Variables','Mean','SD','Mean','SD']

table_jel_dch.insert(3,' \\multicolumn{1}{l}{}',' ')

table_jel_dch.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table_jel_dch
# &   \multicolumn{2}{c}{Observed JEL codes} &  &\multicolumn{2}{c}{With JEL codes imputed}\\
# \cmidrule(lr){2-3} \cmidrule(lr){5-6}

        Variables   Mean    SD  \multicolumn{1}{l}{}   Mean    SD
0   \hspace{3mm}A  11.10  1.18                        11.10  1.18
1   \hspace{3mm}B  11.15  0.95                        11.15  0.95
2   \hspace{3mm}C  11.44  1.01                        11.43  1.00
3   \hspace{3mm}D  11.36  0.97                        11.32  0.97
4   \hspace{3mm}E  11.39  1.01                        11.36  0.99
5   \hspace{3mm}F  11.39  0.95                        11.30  0.97
6   \hspace{3mm}G  11.44  0.96                        11.43  0.96
7   \hspace{3mm}H  11.34  0.98                        11.29  0.95
8   \hspace{3mm}I  11.33  0.97                        11.28  0.97
9   \hspace{3mm}J  11.30  1.01                        11.23  0.99
10  \hspace{3mm}K  11.50  0.95                        11.42  0.96
11  \hspace{3mm}L  11.51  0.90                        11.42  0.91
12  \hspace{3mm}M  11.31  0.91                        11.20  0.89
13  \hspace{3mm}N  11.20  1.02                        11.28  1.04
14  \hspace{3mm}O  11.44  1.00                        11.37  1.00
15  \hspace{3mm}P  11.40  0.88                        11.38  0.87
16  \hspace{3mm}Q  11.58  0.85                        11.50  0.93
17  \hspace{3mm}R  11.41  0.99                        11.37  0.97
18  \hspace{3mm}Z  11.31  1.04                        11.26  1.00

In [20]:
df['Y_imp'].describe()

count    4.99e+03
mean     2.00e-04
std      1.42e-02
min      0.00e+00
25%      0.00e+00
50%      0.00e+00
75%      0.00e+00
max      1.00e+00
Name: Y_imp, dtype: float64