In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.precision", 2)
pd.set_option('display.max_columns', None)

_______
# Load data

In [2]:
df = pd.read_csv('../data/data.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/data.csv'

In [ ]:
df.head(2)

,title,idpaper,journal,journal_num,year,month,volume,issue,jelcodes,keywords,abstract,start_page,end_page,num_words,num_words_90_flag,idauthor,author,prop_women,num_authors,gender_group_type,sole_or_coauthors,num_pages,num_pages_dmean,flesch_kincaid_grade_level,log_flesch_kincaid_grade_level,flesch_kincaid_reading_ease,log_flesch_kincaid_reading_ease,dale_chall,log_dale_chall,coleman_liau_index,log_coleman_liau_index,automated_readability_index,log_automated_readability_index,AER,ECM,JPE,QJE,RES,coauthors,single_author,both_genders,only_females,only_males,num_sentences,num_syllables,jelcodes_letter,jelcodes_text,A_imp,B_imp,C_imp,D_imp,E_imp,F_imp,G_imp,H_imp,I_imp,J_imp,K_imp,L_imp,M_imp,N_imp,O_imp,P_imp,Q_imp,R_imp,Y_imp,Z_imp,tags,JEL_flag,journal1,log_num_pages,log_num_words,log_num_authors,log_num_sentences,log_num_syllables,aer_fkgrade,ecm_fkgrade,jpe_fkgrade,qje_fkgrade,res_fkgrade,aer_dale,ecm_dale,jpe_dale,qje_dale,res_dale,A_obs,B_obs,C_obs,D_obs,E_obs,F_obs,G_obs,H_obs,I_obs,J_obs,K_obs,L_obs,M_obs,N_obs,O_obs,P_obs,Q_obs,R_obs,Y_obs,Z_obs,single,isolated,cluster,length_cluster
0,optimal adoption of complementary technologies,1.20e+11,American Economic Review,1,2000,March,90,1,E22|G31|O33|D24,NaN,When a production process requires two extreme...,15,29,92,1,"['p00681', 'p01338']","['boyan jovanovic', 'dmitriy stolyarov']",0.0,2,only_males,coauthors,14,-7.0,14.80,2.69,29.92,3.4,10.27,2.33,14.74,2.69,15.57,2.75,1,0,0,0,0,1,0,0,0,1,4,167,ODGE,"Economic Development, Innovation, Technologica...",0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,"['O', 'D', 'G', 'E']",1,AER,2.64,4.52,0.69,1.39,5.12,14.80,NaN,NaN,NaN,NaN,10.27,NaN,NaN,NaN,NaN,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,3765
1,collateral damage: effects of the japanese ban...,1.20e+11,American Economic Review,1,2000,March,90,1,G21|E44,NaN,The Japanese banking crisis provides a natural...,30,45,95,1,"['p01546', 'p02544']","['eric rosengren', 'joe peek']",0.0,2,only_males,coauthors,15,-6.0,19.86,2.99,9.06,2.2,12.52,2.53,16.13,2.78,20.73,3.03,1,0,0,0,0,1,0,0,0,1,3,186,GE,Financial Economics; Macroeconomics and Moneta...,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,"['G', 'E']",1,AER,2.71,4.55,0.69,1.10,5.23,19.86,NaN,NaN,NaN,NaN,12.52,NaN,NaN,NaN,NaN,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,3

_____________
# Define functions to generate tables

In [ ]:
def table_summarize_descriptive(data,var_short,var_long):

        Names = zip(var_short,var_long)

        mean_list = []
        std_list = []
        min_list = []
        max_list = []
        n_list=[]
        variables = []
       

        for i,j in Names: #var_short,var_long,scale
                
                a_mean = data[i].mean()
                a_std  = data[i].std()
                a_min = data[i].min() 
                a_max = data[i].max()
                a_n = data[i].count()

                variables.append(j)
                
                mean_list.append("{:.2f}".format(a_mean))
                std_list.append("{:.2f}".format(a_std))
                min_list.append("{:.2f}".format(a_min))
                max_list.append("{:.2f}".format(a_max))
                n_list.append("{:.0f}".format(a_n))

        df = pd.DataFrame(dict(Variables = variables, Mean=mean_list, SD=std_list, Min=min_list, Max=max_list,N=n_list))

        # return df.to_latex(buf=file,index = False,column_format='lcccc')
        return df

In [ ]:
def table_summarize_descriptive2(names,data1,vars1,data2,vars2):

        Names = zip(vars1,vars2)

        mean1_list = []
        std1_list = []
        n1_females = []
        n1_males = []
        n1_both = []
        n1_obser = []

        mean2_list = []
        std2_list = []
        n2_females = []
        n2_males = []
        n2_both = []
        n2_obser = []

        variables = []

        std2_list = []


        for var in vars1:

                # print(var)

                mask = data1[var]==1
                data_0 = data1[mask]
               
                n1_females.append("{:.2f}".format(100*data_0['only_females'].mean()))
                n1_males.append("{:.2f}".format(100*data_0['only_males'].mean()))
                n1_both.append("{:.2f}".format(100*data_0['both_genders'].mean()))
                # n1_obser.append("{:.2f}".format(len(data_0)))
                # print(len(data_0))

        for var in vars2:

                mask = data2[var]==1
                data_0=data2[mask]

                n2_females.append("{:.2f}".format(100*data_0['only_females'].mean()))
                n2_males.append("{:.2f}".format(100*data_0['only_males'].mean()))
                n2_both.append("{:.2f}".format(100*data_0['both_genders'].mean()))
                # n2_obser.append("{:.2f}".format(len(data_0)))

        for name in names:

                variables.append(name)

                # print(name)

        for i,j in Names: #var_short,var_long,scale

                # print(i,'',j)
                
                a_mean = data1[i].mean()
                # print(len(data1[i]))
                a_std  = data1[i].std()   
                     

                b_mean = data2[j].mean()
                b_std  = data2[j].std()                
                
                mean1_list.append("{:.3f}".format(a_mean))
                std1_list.append("{:.2f}".format(a_std))
                # n1_obser.append("{:.0f}".format(len(data1))) 
                n1_obser.append("{:.0f}".format(data1[i].sum() )) 

                mean2_list.append("{:.3f}".format(b_mean))
                std2_list.append("{:.2f}".format(b_std))
                # n2_obser.append("{:.0f}".format(len(data2)))   
                n2_obser.append("{:.0f}".format(data2[j].sum() )) 


        df = pd.DataFrame(dict(Variables = variables,  Mean1 = mean1_list, SD1= std1_list,Obs1 =  n1_obser,
                sh1_fem = n1_females, sh1_male = n1_males, sh1_both = n1_both,  Mean2 = mean2_list, SD2= std2_list,
                Obs2 =  n2_obser, sh2_fem = n2_females, sh2_male = n2_males, sh2_both = n2_both))

        # # return df.to_latex(buf=file,index = False,column_format='lccccccc')Mean1=mean1_list, SD1=std1_list,
        return df

In [ ]:
def table_summarize_descriptive3(data_obs,data_imp,names2,list_obs,list_imp):
        
        Names = zip(list_obs,list_imp)

        mean1_list = []
        std1_list = []
 
        mean2_list = []
        std2_list = []


        variables = []


        for name in names2:

                variables.append(name)

                # print(name)

        for i,j in Names: #var_short,var_long,scale

                # print(i,'',j)

                # (df['minSalaryAnnual'].loc[df['minSalaryAnnual'] != 0]).median()
                
                a_mean = (data_obs[i].loc[data_obs[i] !=0]).mean()
                # print(len(data1[i]))
                a_std  = (data_obs[i].loc[data_obs[i] !=0]).std()  
                     

                b_mean = (data_imp[j].loc[data_imp[j] !=0]).mean()
                b_std  = (data_imp[j].loc[data_imp[j] !=0]).std()             
                
                mean1_list.append("{:.2f}".format(a_mean))
                std1_list.append("{:.2f}".format(a_std))
              
                mean2_list.append("{:.2f}".format(b_mean))
                std2_list.append("{:.2f}".format(b_std))
 


        df = pd.DataFrame(dict(Variables = variables,  Mean1 = mean1_list, SD1= std1_list, Mean2 = mean2_list, SD2= std2_list))

        # # return df.to_latex(buf=file,index = False,column_format='lccccccc')Mean1=mean1_list, SD1=std1_list,
        return df

_______________
# Table 1: Summary statistics
### Supplementary Materials | page 2

In [ ]:
names = ["Dale-Chall", "\hspace{3mm}American Economic Review","\hspace{3mm}Econometrica",
        "\hspace{3mm}Journal of Political Economy", "\hspace{3mm}Review Economic Studies",
        "\hspace{3mm}The Quarterly Journal of Economics"
        ]

vars = ["dale_chall", 'aer_dale','ecm_dale','jpe_dale','res_dale',
        'qje_dale']

In [ ]:
file = '../tables/table1_sm.tex'

table3 = table_summarize_descriptive(df,vars,names)

# table3 = pd.DataFrame(np.insert(table3.values, 6, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 10, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 17, values=' ', axis=0))
# table3 = pd.DataFrame(np.insert(table3.values, 23, values=' ', axis=0))

# table3.loc[6][0]='\\textbf{Abstract-related variables}'
# table3.loc[10][0]='\\textbf{Paper-related variables}'
# table3.loc[17][0]='\\textbf{Journals}'
# table3.loc[23][0]='\\textbf{Other variables}'

table3.columns=['Variables','Mean','SD','Min','Max','N']

table3.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table3

,Variables,Mean,SD,Min,Max,N
0,Dale-Chall,11.34,0.98,7.37,17.50,4988
1,\hspace{3mm}American Economic Review,11.41,1.01,7.37,14.30,1500
2,\hspace{3mm}Econometrica,11.50,0.95,8.23,15.12,892
3,\hspace{3mm}Journal of Political Economy,11.23,0.97,8.17,14.22,801
4,\hspace{3mm}Review Economic Studies,11.31,0.93,8.20,15.95,976
5,\hspace{3mm}The Quarterly Journal of Economics,11.21,1.01,7.64,17.50,819

___
# Table 2: Summary Statistics FK-grade level by JEL code
### Supplemental Materials | page 3

In [ ]:
names2 = ["\hspace{3mm}A","\hspace{3mm}B","\hspace{3mm}C","\hspace{3mm}D","\hspace{3mm}E",
        "\hspace{3mm}F","\hspace{3mm}G","\hspace{3mm}H","\hspace{3mm}I","\hspace{3mm}J",
        "\hspace{3mm}K","\hspace{3mm}L","\hspace{3mm}M","\hspace{3mm}N","\hspace{3mm}O",
        "\hspace{3mm}P","\hspace{3mm}Q","\hspace{3mm}R","\hspace{3mm}Z"
        ]

vars1 = ["A_obs","B_obs","C_obs","D_obs","E_obs","F_obs","G_obs","H_obs","I_obs","J_obs",
        "K_obs","L_obs","M_obs","N_obs","O_obs","P_obs","Q_obs","R_obs" ,"Z_obs"]

vars2 = ["A_imp","B_imp","C_imp","D_imp","E_imp","F_imp","G_imp","H_imp","I_imp",
        "J_imp","K_imp","L_imp","M_imp","N_imp","O_imp","P_imp","Q_imp","R_imp","Z_imp"]

In [ ]:
list_names_obs = []
list_names_imp = []

names = zip(vars1,vars2)

df1 = df1.copy()

for i,j in names:

    nn = i+'FKG'
    mm = j+'FKG'

    list_names_obs.append(nn)
    list_names_imp.append(mm)

    df1.loc[:,nn]=df1[i]*df1['flesch_kincaid_grade_level']
    df.loc[:,mm]=df[j]*df['flesch_kincaid_grade_level']

In [ ]:
file = '../tables/table2_sm.tex'

table_jel_fkg = table_summarize_descriptive3(df1,df,names2,list_names_obs,list_names_imp)

table_jel_fkg.columns=['Variables','Mean','SD','Mean','SD']

table_jel_fkg.insert(3,' \\multicolumn{1}{l}{}',' ')

table_jel_fkg.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table_jel_fkg
# &   \multicolumn{2}{c}{Observed JEL codes} &  &\multicolumn{2}{c}{With JEL codes imputed}\\
# \cmidrule(lr){2-3} \cmidrule(lr){5-6}

        Variables   Mean    SD  \multicolumn{1}{l}{}   Mean    SD
0   \hspace{3mm}A  14.91  2.22                        14.91  2.22
1   \hspace{3mm}B  15.13  2.18                        15.13  2.18
2   \hspace{3mm}C  15.76  2.48                        15.82  2.56
3   \hspace{3mm}D  15.41  2.50                        15.49  2.58
4   \hspace{3mm}E  15.49  3.07                        15.47  2.92
5   \hspace{3mm}F  15.43  2.39                        15.43  2.47
6   \hspace{3mm}G  15.33  3.08                        15.43  3.05
7   \hspace{3mm}H  15.41  2.45                        15.48  2.49
8   \hspace{3mm}I  15.41  2.56                        15.52  2.73
9   \hspace{3mm}J  15.17  2.41                        15.34  2.57
10  \hspace{3mm}K  15.26  2.45                        15.23  2.64
11  \hspace{3mm}L  15.29  2.27                        15.22  2.33
12  \hspace{3mm}M  15.41  2.32                        15.06  2.26
13  \hspace{3mm}N  15.45  3.12                        15.54  3.03
14  \hspace{3mm}O  15.51  2.65                        15.52  2.74
15  \hspace{3mm}P  15.87  2.56                        15.98  2.52
16  \hspace{3mm}Q  15.79  2.30                        15.75  2.50
17  \hspace{3mm}R  15.37  2.55                        15.40  2.64
18  \hspace{3mm}Z  15.61  3.09                        15.97  3.06

_________________
# Table 3: Summary Statistics for Dale-Chall by JEL code
### Supplemental Materials | page 4

In [ ]:
list_names_obs = []
list_names_imp = []

names = zip(vars1,vars2)

for i,j in names:

    nn = i+'DCH'
    mm = j+'DCH'

    list_names_obs.append(nn)
    list_names_imp.append(mm)

    df1.loc[:,nn]=df1[i]*df1['dale_chall']
    df.loc[:,mm]=df[j]*df['dale_chall']

In [ ]:
file = '../tables/table3_sm.tex'

table_jel_dch = table_summarize_descriptive3(df1,df,names2,list_names_obs,list_names_imp)

table_jel_dch.columns=['Variables','Mean','SD','Mean','SD']

table_jel_dch.insert(3,' \\multicolumn{1}{l}{}',' ')

table_jel_dch.to_latex(buf=file, index=False, column_format='lccccc',escape=False)

table_jel_dch
# &   \multicolumn{2}{c}{Observed JEL codes} &  &\multicolumn{2}{c}{With JEL codes imputed}\\
# \cmidrule(lr){2-3} \cmidrule(lr){5-6}

        Variables   Mean    SD  \multicolumn{1}{l}{}   Mean    SD
0   \hspace{3mm}A  11.10  1.18                        11.10  1.18
1   \hspace{3mm}B  11.15  0.95                        11.15  0.95
2   \hspace{3mm}C  11.44  1.01                        11.43  1.00
3   \hspace{3mm}D  11.36  0.97                        11.32  0.97
4   \hspace{3mm}E  11.39  1.01                        11.36  0.99
5   \hspace{3mm}F  11.39  0.95                        11.30  0.97
6   \hspace{3mm}G  11.44  0.96                        11.43  0.96
7   \hspace{3mm}H  11.34  0.98                        11.29  0.95
8   \hspace{3mm}I  11.33  0.97                        11.28  0.97
9   \hspace{3mm}J  11.30  1.01                        11.23  0.99
10  \hspace{3mm}K  11.50  0.95                        11.42  0.96
11  \hspace{3mm}L  11.51  0.90                        11.42  0.91
12  \hspace{3mm}M  11.31  0.91                        11.20  0.89
13  \hspace{3mm}N  11.20  1.02                        11.28  1.04
14  \hspace{3mm}O  11.44  1.00                        11.37  1.00
15  \hspace{3mm}P  11.40  0.88                        11.38  0.87
16  \hspace{3mm}Q  11.58  0.85                        11.50  0.93
17  \hspace{3mm}R  11.41  0.99                        11.37  0.97
18  \hspace{3mm}Z  11.31  1.04                        11.26  1.00